/* custom properties */
:root{
    --fuenteHedings: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    
    --primario: #784D3C;
    --oscuro: #000000;
    --blanco: #ffffff;
    --gris: #e1e1e1;

}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--blanco);
    font-size: 2rem;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHedings);
    line-height: 1;
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/* Utilidades */
.no-margin{
    margin: 0;
}
.no-pading{
    padding: 0;
}
.center-texto{
    text-align: center;
}

/* Header */
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.contenedor__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
.contenedor__barra{
    padding: 4rem 0;
    

}
.navegacion{
    gap: 2rem;
    margin: 2rem  0;
}
@media (min-width: 768px) {
    .contenedor__barra{
        color: var(--blanco);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor__texto{
        margin-top: 15rem;
    }
    .navegacion{
        margin: 0;
    }
}

@media (min-width: 480px) {
    .navegacion{
        display: flex;
        justify-content: center;
        
        
}
    .contenedor__texto{
        margin-top: 10rem;
}
}

.navegacion__nav{
    display: block;
    text-align: center;
  
}


.logo__normal{
    font-weight: normal;
}
.Nombre{
    text-align: center;
    margin: 0;
}


/* Contenedor principal */

@media (min-width: 768px) {
    .contenedor-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }

}
.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHedings);
    padding: 1rem 3rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton{
        display: inline-block;
    }
    
    
}
.boton--primario{
    background-color: var(--oscuro);
    color: var(--blanco);
}
.boton--aside{
    background-color: var(--primario);
}
.cursos{
    list-style: none;
}
.widget-curso{ 
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type, .curso:last-of-type{
    border: none;
    margin-bottom: 0;
}

.widget-curso__label,
.curso__label
{
    font-family: var(--fuenteHedings);
    font-weight: bold;

}
.widget-curso__info, 
.curso__info{
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info, 
.curso__label, 
.curso__info
{
    font-size: 2rem;
}

/* footer */
.footer{
    background-color: var(--oscuro);
    padding: 1rem 0;
    
}

/* nosotros */

@media (min-width: 768px) {
    .nosotros__contenido{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: 4rem 0;
    }
}

.nosotros__img{
    background-size: cover;
}

/* cursos */


 @media (min-width: 768px) {
        
    .cursos__contenido{
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2rem;
    }
   
}
/* cursos */
.curso{
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
    .curso{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
    
}
.entrada__contenido{
    margin-bottom: 4rem;
}

/* contacto */
.contacto__imagen{
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.formulario{
    background-color: var(--blanco);
    margin: -5rem auto 4rem auto;
    width: 95%;
    padding: 5rem;
    
}
.campo{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}
.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    
}
.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
}
.campo__field--textarea{
    height: 20rem;
}